*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img{
  position: absolute;
  top: 20px;
  right: 20px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.dropdown-menu{
    border: 1px solid gray;
    border-radius: var(--border-radius);
    padding: 11px 20px;
    top: 11px !important;
    left: -5px !important;
}

.dropdown-menu::before{
  content: '';
  position: absolute;
  top: -11px;
  right: 20px;
  height: 20px;
  width: 20px;
  background: white;
  border-left: 1px solid gray;
  border-top: 1px solid gray;
  transform: rotate(45deg);
}
