@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
body {
  background: #c6cace !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  min-height :70vh;
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #131a24;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}
/* custom button */
.button{
  padding: 4px 9px;
  border-radius: 5px;
  font-size: 16px;
  border:none;
  transition: 0.3s all ease-in-out;
  
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  background-color: transparent;
  color: black;
}

.button:hover{
  color: white;
  background-color: #151414; 
}




/* <<<<<<<<<<<<<<<<<<<  REACT-DATA-TABLE-COMPONENT CUSTOM CSS START >>>>>>>>>>>>>*/
/*  FOR TABLE HEADER ROW */
.rdt_TableHead {
  font-size: 17px !important;
}

/* FOR TABLE BODY ROWS */
.rdt_TableRow {
    font-size: 15px !important;
}
/* <<<<<<<<<<<<<<<<<<<  REACT-DATA-TABLE-COMPONENT CUSTOM CSS ENDS >>>>>>>>>>>>>*/



.data-table-extensions > .data-table-extensions-action > button::after {
  z-index: 10000000;
  position: relative;
}

.rdt_TableHeadRow {
  background-color:#f1f5f7 !important;
  color: #2592cfd1;
}


.dropdown-toggle::after {
  display: none !important; 
}

.doc-download-btn{
  border: none;
}
.doc-download-btn > img{
  height: 35px;
}


.main_btn {
  background-color: var(--default-color);
  color: #e3e3e3;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  padding: 2px 23px;
  border-radius: 4px;
  font-size: 19px;
  width: 7rem;
}

.main_btn_disabled {
  background-color: #35383a;
  color: #e3e3e3;
  transition: 0.4s all ease-in-out;
  cursor: pointer;
  padding: 2px 23px;
  border-radius: 4px;
  font-size: 19px;
  width: 7rem;
}

.main_btn:hover {
  color: var(--whiteColor);
  background-color: #0762c5;
}



.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
}


.modal.right .modal-body {
  padding: 15px 15px 80px;
}



.patien_head {
  width: 47rem;
  height: 130px;
  margin: 21px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


/* button css here ........... */

.button{
  padding: 4px 9px;
  border-radius: 5px;
  font-size: 16px;
  border:none;
  transition: 0.3s all ease-in-out;
  
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
  background-color: transparent;
  color: black;
}

.button:hover{
  color: white;
  background-color: #151414; 
}

.button-icon{
  height: 2rem;
  width: 2rem;
}